@model MvcCalendario.App.ViewModels.ClienteViewModel
<div style="padding-top: 20px">
    <div>
        <h4>Contatos</h4>
        <hr />
    </div>

    <p>
        <a asp-action="NovoContato" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">
            <i class="fa fa-plus"></i> Novo Contato
        </a>
    </p>

    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayName("Telefone")
                    </th>
                    <th>
                        @Html.DisplayName("Celular")
                    </th>
                    <th>
                        @Html.DisplayName("E-mail")
                    </th>
                    <th>
                        Principal?
                    </th>
                    <th>
                        WhatsApp
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model.Contatos)
            {
                <tr>
                    <td>
                        @item.Telefone
                    </td>
                    <td>
                        @item.Celular
                    </td>
                    <td>
                        @item.Email
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Principal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EhWhatsApp)
                    </td>

                    <td>
                        <a asp-action="AtualizarContato" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">
                            <span title="Editar" class="fa fa-pencil-alt"></span>
                        </a>
                    </td>
                </tr>

            }
        </table>
    }
</div>