@using MvcCalendario.App.Extensions
@model MvcCalendario.App.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Detalhe do Cliente";
}

<h4>@ViewData["Title"]</h4>


<div>
    <h6>Informação somente leitura</h6>
    <hr />
    <dl class="row">
        <dt class="col-12">
            @Model.Nome
        </dt>
        <dt class="col-12">
            @this.FormataDocumento(Model.CPF)
        </dt>
        <dt class="col-12">
            @Model.Grupo
        </dt>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>

<div id="EnderecoTarget">
    <partial name="_Enderecos" />
</div>

<div id="ContatoTarget">
    <partial name="_Contatos" />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            SetModal();
        });
    </script>
}
